src/main/resources/schema/uw-rws-connector.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="urn:mace:washington.edu:idp:resolver:dc" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:uwdc="urn:mace:washington.edu:idp:resolver:dc" 
     xmlns:resolver="urn:mace:shibboleth:2.0:resolver"
     xmlns:sec="urn:mace:shibboleth:2.0:security" 
     xmlns:dc="urn:mace:shibboleth:2.0:resolver:dc" 
    elementFormDefault="qualified">

    <import namespace="urn:mace:shibboleth:2.0:resolver"
        schemaLocation="classpath:/schema/shibboleth-attribute-resolver.xsd" />

    <import namespace="urn:mace:shibboleth:2.0:security"
        schemaLocation="classpath:/schema/shibboleth-security.xsd" />

    <import namespace="urn:mace:shibboleth:2.0:resolver:dc"
        schemaLocation="classpath:/schema/shibboleth-attribute-resolver-dc.xsd" />


    <annotation>
        <documentation>
            This schema specifies the configuration additions for gws connector plugins
        </documentation>
    </annotation>


    <complexType name="WebService">
        <annotation>
            <documentation>
                A data connector that can pull information from a webservice.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="resolver:BaseDataConnectorType">
                <sequence>
                    <element name="QueryTemplate" type="string">
                        <annotation>
                            <documentation>
                                A template used to construct the https query.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="TrustCredential" type="sec:X509Credential" minOccurs="0">
                        <annotation>
                            <documentation>
                                The X.509 trust information to use when connecting to the service.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="AuthenticationCredential" type="sec:X509Credential" minOccurs="0">
                        <annotation>
                            <documentation>
                                The X.509 client authentication information to use when connecting to the service.
                            </documentation>
                        </annotation>
                    </element>

                    <element name="Attribute" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                An attribute to fetch
                            </documentation>
                        </annotation>
                        <complexType>
                            <simpleContent>
                                <extension base="string">
                                    <attribute name="name" type="string" use="required">
                                        <annotation>
                                            <documentation>
                                                attribute name to return
                                            </documentation>
                                        </annotation>
                                    </attribute>
                                    <attribute name="xPath" type="string" use="required">
                                        <annotation>
                                            <documentation>
                                                xpath of the attribute in the fetched document
                                            </documentation>
                                        </annotation>
                                    </attribute>
                                    <attribute name="maxResultSize" type="positiveInteger">
                                        <annotation>
                                            <documentation>
                                                max results to return
                                            </documentation>
                                        </annotation>
                                    </attribute>
                                    <attribute name="noResultIsError" type="boolean">
                                        <annotation>
                                            <documentation>
                                                is no result an error
                                            </documentation>
                                        </annotation>
                                    </attribute>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>

                    <element name="ActivationRequirement" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>
                                A requirement to activate this connector
                            </documentation>
                        </annotation>
                        <complexType>
                            <simpleContent>
                                <extension base="string">
                                    <attribute name="entityId" type="string">
                                        <annotation>
                                            <documentation>
                                                RP entity id that activates this connector
                                            </documentation>
                                        </annotation>
                                    </attribute>
                                    <attribute name="file" type="string">
                                        <annotation>
                                            <documentation>
                                                Full pathname of the file of activators
                                            </documentation>
                                        </annotation>
                                    </attribute>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>

                </sequence>
                <attribute name="httpDataSourceRef" type="string" >
                    <annotation>
                        <documentation>The HttpDataSource bean id </documentation>
                    </annotation>
                </attribute>
                <attribute name="baseURL" type="string" use="required">
                    <annotation>
                        <documentation>
                        The base URL to the service. 
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="username" type="string">
                    <annotation>
                        <documentation>The username </documentation>
                    </annotation>
                </attribute>
                <attribute name="password" type="string">
                    <annotation>
                        <documentation>
                            The password
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="authenticationType" type="uwdc:AuthenticationType">
                    <annotation>
                        <documentation>
                            The authentication type. Acceptable values are NONE, BASIC, CLIENT_CERT
                            If no type is given NONE is used.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="maxConnections" type="nonNegativeInteger">
                    <annotation>
                        <documentation>
                            Max connections established to the service
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="searchTimeLimit" type="positiveInteger">
                    <annotation>
                        <documentation>
                            The maximum amount of time, in milliseconds, to wait for search results. If this limit is
                            reached a timeout error is raised.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="maxResultSize" type="positiveInteger">
                    <annotation>
                        <documentation>The maximum number of results that may be returned from a query.</documentation>
                    </annotation>
                </attribute>
                <attribute name="cacheResults" type="boolean">
                    <annotation>
                        <documentation>
                            A boolean flag indicating that search results should be cached for the duration of a user's
                            session.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="mergeResults" type="boolean">
                    <annotation>
                        <documentation>
                            A boolean flag indicating that if multiple results are returned they should be merged into
                            a single result that contains the combined attributes and values of all the results. If more
                            than one result is returned and this is set to false and exception will be thrown.
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="noResultIsError" type="boolean">
                    <annotation>
                        <documentation>
                            A boolean flag indicating whether a query returning no results should be considered an error. If
                            an error is raised and a failover dependency is defined for this connector the failover will
                            be invoked.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    
    <simpleType name="AuthenticationType">
        <annotation>
            <documentation>Supported authentication types.</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="NONE" />
            <enumeration value="BASIC" />
            <enumeration value="CLIENT_CERT" />
        </restriction>
    </simpleType>

</schema>


